
// Colors
$cl_primary : #EFC4B0;
$cl_primary_opacity : rgba(239,196,176, .3);
$cl_black : #333333;
$cl_white : #fff;
$cl_grey : #777777;

// Tipography
$letter_cursive: 'Tangerine', cursive !important;
$letter_default: 'Roboto', sans-serif !important;

// Transition 
$transition_default: all .3s ease !important;

// Shadows
$shadow_cl_black_0 : 0 4px 11px rgba(0,0,0,.055);

$shadow_cl_primary_0 : 0px 12px 20px rgba(239,196,176, .2);
$shadow_cl_primary_1 : 0px 12px 20px rgba(239,196,176, .4);


